venv/
__pycache__/
.env
instance/
.pytest_cache/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.DS_Store
coverage/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.idea/
.vscode/